<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.velvet.theme.dark"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.google.android.googlequicksearchbox" android:priority="1"/>

    <application android:label="Google App Style" android:hasCode="false"/>
</manifest>
